
<p style="font: italic; text-decoration: underline; margin-left: 500px; font-size: 30px;"><strong>Alcance suas metas</strong></p>
<br>
<div class="row" style="margin-left: 150px;">


    <div class="col-sm-4" style="margin-left: 90px;">
        <div class="card" style="width: 18rem;" >
            <img src="/assets/img/cards/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dicas de treino</h5>
                <p class="card-text">Veja aqui algumas dicas de treino toops !</p>
                <a routerLink="/treino" class="btn btn-primary">Boraa</a>
            </div>
        </div>

    </div>


    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/cards/card3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Matricule-se</h5>
                <p class="card-text">Não perca tempo venha fazer parte da familia bodyStronda !</p>
                <a routerLink="/matricula" class="btn btn-primary">Ir para a matricula</a>
            </div>
        </div>
    </div>

</div>