<footer class="mt-4 text-white" style="color: black; height: 100px;">

    <div class="col-md-12" style="text-align: center; color: black; ">
        <span>

            <strong>Nos sigam nas nossas redes sociais !</strong>
            

        </span>


    </div>
    <br>
    <div class="col-md-12" style="text-align: center; ">

        <span>

            <a>
                <i>

                    <img src="/assets/img/icons/instagram.svg" width="30px" height="30px">

                </i>

            </a>

            <a style="margin-left: 10px;">

                <i>

                    <img src="/assets/img/icons/facebook.svg" width="30px" height="30px">

                </i>


            </a>


        </span>


    </div>

    <br>

    <div class="col-md-12" style="margin-left: 10px; color: black;">

        <i>
            <a>

                <img src="/assets/img/icons/email.svg" width="30px" height="30px">

            </a>

        </i>

        <strong> Email de contato :</strong> bodyStronda@example.com


    </div>

    <br>
    <div class="col-md-12" style="margin-left: 10px; color: black;">

        <i>
            <a>

                <img src="/assets/img/icons/telefone.svg" width="30px" height="30px">

            </a>

        </i>

        <strong> Telefone de contato :</strong> 3341-2424


    </div>

    <br>

    <div class="col-md-12 navbar navbar-expand-lg navbar-light" style="height: 70px; background-color: black;">
        <span style="margin-left: 500px;color: white;">

            <strong>Copyright© 2020 BodyStronda</strong> 

        </span>
        
    </div>
    
</footer>