
<p style="font: italic; text-decoration: underline; text-align: center; font-size: 30px;"><strong>Escolha o grupo muscular que você queira saber !</strong></p>
<br>
<div class="row" style="margin-left: 150px;">


    <div class="col-sm-3">
        <div class="card" style="width: 18rem;" >
            <img src="/assets/img/cards/treinos/Peito.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treino com enfase no peitoral</h5>
                <p class="card-text">Confira aqui alguns dos melhores exercicios para os peitorais</p>
                <a routerLink="/pag/treino/{{1}}" class="btn btn-primary" >Boraa</a>
            </div>
        </div>

    </div>

    <div class="col-sm-3" style="margin-left: 80px;">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/cards/treinos/Braço.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treino com enfase nos braços</h5>
                <p class="card-text">Confira aqui alguns dos melhores exercicios para seus braços</p>
                <a routerLink="/pag/treino/{{2}}" class="btn btn-primary">Boraa</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3" style="margin-left: 100px;">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/cards/treinos/Perna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treino com enfase para as pernas</h5>
                <p class="card-text">Confira aqui alguns dos melhores exercicios para suas pernas</p>
                <a routerLink="/pag/treino/{{4}}" class="btn btn-primary">Boraa</a>
            </div>
        </div>
    </div>

</div>

<br>
<div class="row" style="margin-left: 150px;">


    <div class="col-sm-3">
        <div class="card" style="width: 18rem;" >
            <img src="/assets/img/cards/treinos/Dorsais.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treino com enfase nas dorsais</h5>
                <p class="card-text">Confira aqui alguns dos melhores exercicios para os gluteos</p>
                <a routerLink="/pag/treino/{{3}}" class="btn btn-primary" >Boraa</a>
            </div>
        </div>

    </div>

    <div class="col-sm-3" style="margin-left: 80px;">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/cards/treinos/Abdomem.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treino com enfáse no Abdomem</h5>
                <p class="card-text">Confira aqui alguns dos melhores exercicios para os abdomemns</p>
                <a routerLink="/pag/treino/{{6}}"class="btn btn-primary" >Boraa</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3" style="margin-left: 100px;">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/cards/treinos/Cardio.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cardios</h5>
                <p class="card-text">Confira aqui alguns dos melhores cardios para ser feitos na academia</p>
                <a routerLink="/pag/treino/{{5}}"class="btn btn-primary" >Boraa</a>
                
            </div>
        </div>
    </div>

</div>
<br>
<br>
<h6 style="font-size: 10px; margin-left: 10px;"><strong>Obs: Imagens meramente ilustrativas</strong></h6>