<ngb-carousel *ngIf="images">
    <ng-template ngbSlide style="width: 200px;">
        <div class="picsum-img-wrapper">
            <img src="/assets/img/banner1.png" width="1400px" height="500px" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Treine Pesado</h3>
            <a routerLink="/treino" style="color: white;"><strong>Otimas dicas de treino</strong></a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/assets/img/banner2.png" width="1500px" height="500px" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Esmaga que cresce</h3>
            <a routerLink="/treino" style="color: white;"><strong>Veja aqui dicas para alcançar seus objetivos</strong></a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/assets/img/banner3.png" width="1500px" height="500px" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Saúde em primeiro lugar</h3>
            <a routerLink="/matricula" style="color: white;"><strong>Matricule-se</strong></a>
        </div>
    </ng-template>
</ngb-carousel>