<br>
<br>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorData">
  <strong>Data de nascimento</strong> invalida
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorCadastro">
  <strong>Erro</strong> de cadastro
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successCadastro">
  <strong>Cadastro feito com sucesso</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorDados">
  <strong>Cpf ja existente</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<br>
<br>

  <div class="container">

    <form [formGroup]= "formulario">
        <div class="form-group">
            <label for="Nome"><strong>Nome</strong></label>
            <input type="text" class="form-control"  id="nome"  formControlName= "nome" name="nome">
        </div>
        
        
        <div class="form-group">
            <label for="cpf"><strong>CPF</strong></label>
            <input type="input" class="form-control" id="cpf" formControlName= "cpf" name="cpf" mask="000.000.000-00">
        </div>
        <div class="form-group">
            <label for="data"><strong>Data de nascimento</strong></label>
            <input type="input" class="form-control" id="data" placeholder="ex: 1999/08/04" formControlName= "data_nascimento" name="data_nascimento" mask="0000/00/00">
        </div>
        
       
    </form>
    
    <button type="submit" class="btn btn-primary" (click)="matriculaUsuario()" 
         [disabled]= "formulario.invalid">Fazer matricula
        </button>
        <button type="submit" style="margin-left: 10px;" class="btn btn-danger" routerLink="/">Cancelar</button>

</div>

