<br>
<br>

<div class="container" *ngIf="treino">

    <h1 style="text-align: center;font: italic; text-decoration: underline;">{{treino.name}}</h1>

    <br>
    <h1 style="text-align: center;font: italic; text-decoration: underline;">Principais exercícios</h1>

    <br>
    <br>
    <h2>{{treino.exercicio_1}}</h2>

    <br>

    <h6>{{treino.desc_1}}</h6>
    <br>
    <h6>{{treino.dica_exe_1}}</h6>
    <br>
    <h6>{{treino.desc_1}}</h6>

    <br>
    <br>

    <h2>{{treino.exercicio_2}}</h2>

    <br>

    <h6>{{treino.desc_2}}</h6>
    <br>
    <h6>{{treino.dica_exe_2}}</h6>
    <br>
    <h6>{{treino.desc_2}}</h6>

    <br>
    <br>

    <h2>{{treino.exercicio_3}}</h2>
    <br>

    <h6>{{treino.desc_3}}</h6>
    <br>
    <h6>{{treino.dica_exe_3}}</h6>
    <br>
    <h6>{{treino.desc_3}}</h6>

    <br>
    <br>
    <h2>{{treino.exercicio_4}}</h2>
    <br>

    <h6>{{treino.desc_4}}</h6>
    <br>
    <h6>{{treino.dica_exe_4}}</h6>
    <br>
    <h6>{{treino.desc_4}}</h6>

</div>


<br>
<br>
<br>
<h6 style="text-align: center; margin-bottom: 30px;">Alguns links de videos de bons treinos de {{treino.name}}</h6>
<a style="margin-left: 500px;" href="{{treino.link_1}}" target="_blank" class="btn btn-primary">Treino de {{treino.name}}</a>
<a style="margin-left: 10px;"  href="{{treino.link_2}}" target="_blank" class="btn btn-primary">Treino para iniciantes</a>
