<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; height: 100px;">
  
  <a class="navbar-brand" id="button" href="#">
    <img src="/assets/img/logo.png" width="190" height="200" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
 
 <div style="margin-bottom: 10px; margin-left: 20px;">
  <h6><strong>BodyStronda aqui você fica monstro !</strong></h6> 
  <h6 style="margin-left: 35px;"><strong>Qualidade e eficiência</strong></h6>
  </div>
  
 
  
</nav>

<div >
<nav class="navbar navbar-dark bg-primary">
  <form class="form-inline" style="margin-left: 40px;" >
    <button type="button" class="btn btn-outline-light" routerLink="/"><strong>Home</strong></button>
    <button type="button" style="margin-left: 10px;" class="btn btn-outline-light" routerLink="/treino"><strong>Dicas de treino</strong></button>
    <button type="button" style="margin-left: 10px;" class="btn btn-outline-light" routerLink="/matricula"><strong>Matricula-se</strong></button>
  </form>
</nav>

</div>